:root {
	--primary-color: #e3c086;
	--primary-color-rgb: 227, 192, 134;
	--secondary-color: #e3c086;
	--secondary-color-rgb: 227, 192, 134;
	--tertiary-color: #473529;
	--tertiary-color-rgb: 71, 53, 41;
}